.app {
  background-color: whitesmoke;
  width: 1440px;
  height: 1500px;
}

.containerOne {
  display: flex;
  flex-direction: row;
}

.containerTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}